@font-face {
    font-family: "tmon";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nanum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'maplebold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}

body::before {
    position: fixed;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-filter: blur(10px); 
    -moz-filter: blur(10px); 
    -o-filter: blur(10px); 
    -ms-filter: blur(10px); 
    filter: blur(10px);
    transform: scale(1.08);
    background-repeat: no-repeat;
    z-index: -10; 
    content: "";
}

.container {
    margin:0;
}

.character {
    max-width: 1000px;
    max-height: 1000px;
    float: right;
}

img {
    width: 500px;
}

h2 {
    margin: 40px 0 40px 0;
    text-align: center;
    font-family: "tmon";
    color: white;
    font-size: 50px;
}

p {
    font-family: "nanum";
    margin: 0 30px;
    font-size: 30px;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

label {
    color: white;
    cursor: pointer;
    z-index: 15;
}

.sidebar {
    background: black;
    position: fixed;
    width:950px;
    top: 0;
    height: 100vh;
    left: -873px;
    z-index: -100;
    transition: all .35s;
    border-left: 3px solid white;
    overflow: scroll;
}

nav {
    float:left;
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    width:80px;
}

#icon_description {
    display: none;
}
#icon_description:checked + label {
    z-index: 16;
    width: 80px;
    height: 22px;
    position: relative;
    cursor: pointer;
    display: block;
}
#icon_description:checked + label + div {
    left: 80px;
    background-color: black;
}
#icon_description + label + div {
    background: black;
}

#icon_default {
    display: none;
}
#icon_default:checked + label {
    z-index: 16;
    width: 80px;
    height: 22px;
    position: relative;
    cursor: pointer;
    display: block;
}
#icon_default:checked + label + div {
    left: 80px;
    background-color: black;
}
#icon_default + label + div {
    background: black;
}

#icon_1st {
    display: none;
}
#icon_1st:checked + label {
    z-index: 16;
    width: 80px;
    height: 22px;
    position: relative;
    cursor: pointer;
    display: block;
}
#icon_1st:checked + label + div {
    left: 80px;
    background-color: black;
}
#icon_1st + label + div {
    background: black;
}

#icon_1-5 {
    display: none;
}
#icon_1-5:checked + label {
    z-index: 16;
    width: 80px;
    height: 22px;
    position: relative;
    cursor: pointer;
    display: block;
}
#icon_1-5:checked + label + div {
    left: 80px;
    background-color: black;
}
#icon_1-5 + label + div {
    background: black;
}


#icon_2nd {
    display: none;
}
#icon_2nd:checked + label {
    z-index: 16;
    width: 80px;
    height: 22px;
    position: relative;
    cursor: pointer;
    display: block;
}
#icon_2nd:checked + label + div {
    left: 80px;
    background-color: black;
}
#icon_2nd + label + div {
    background: black;
}

#icon_2-5 {
    display: none;
}
#icon_2-5:checked + label {
    z-index: 16;
    width: 80px;
    height: 22px;
    position: relative;
    cursor: pointer;
    display: block;
}
#icon_2-5:checked + label + div {
    left: 80px;
    background-color: black;
}
#icon_2-5 + label + div {
    background: black;
}


#icon_3rd {
    display: none;
}
#icon_3rd:checked + label {
    z-index: 16;
    width: 80px;
    height: 22px;
    position: relative;
    cursor: pointer;
    display: block;
}
#icon_3rd:checked + label + div {
    left: 80px;
    background-color: black;
}
#icon_3rd + label + div {
    background: black;
}

#icon_4th {
    display: none;
}
#icon_4th:checked + label {
    z-index: 16;
    width: 80px;
    height: 22px;
    position: relative;
    cursor: pointer;
    display: block;
}
#icon_4th:checked + label + div {
    left: 80px;
    background-color: black;
}
#icon_4th + label + div {
    background: black;
}

#icon_hyper {
    display: none;
}
#icon_hyper:checked + label {
    z-index: 16;
    width: 80px;
    height: 22px;
    position: relative;
    cursor: pointer;
    display: block;
}
#icon_hyper:checked + label + div {
    left: 80px;
    background-color: black;
}
#icon_hyper + label + div {
    background: black;
}

#icon_5th {
    display: none;
}
#icon_5th:checked + label {
    z-index: 16;
    width: 80px;
    height: 22px;
    position: relative;
    cursor: pointer;
    display: block;
}
#icon_5th:checked + label + div {
    left: 80px;
    background-color: black;
}
#icon_5th + label + div {
    background: black;
}

label > div {
    font-family: "maplebold";
    font-size: 20px;
    text-align: center;    
}

.skill_icon {
    width: 180px;
    height: 50px;
    background-color: white;
    font-family: "nanum";
}

.skill_description {
    width: 440px;
    height: 50px;
    background-color: white;
    font-family: "nanum";
}

.skill {
    height: 32px;
    width: 32px;
    display: block;
    margin:10px auto;
}

table {
    margin: 0 auto 40px auto;
    width: 660px;
}

td {
    background-color: white;
    width: 100px;
    height: 120px;
}

td > p {
    font-size: 14px;
    color: black;
    text-align: center;
    margin: 0 30px;
}

.skill + p {
    margin: 0;
}

.skill + p + p{
    margin: 0;
}

.skill + p + p + p {
    margin: 0;
}

.sidebar_nav {
    background: black;
    position: fixed;
    width:950px;
    top: 0;
    height: 100vh;
    left: -870px;
    overflow: hidden;
    z-index: 10;
}