@font-face {
    font-family: "maplebold";
    src: url("../fonts/Maplestory-Bold.woff");
}

body::before {
    background-image: url('../maple/backgroundHoYoung.jpeg');
    background-position: center center;
}

* {
    margin: 0;
    padding: 0;
}

label {
    color: white;
    cursor: pointer;
    z-index: 5;
}

.sidebar {
    background: white;
    position: fixed;
    width:300px;
    top: 0;
    height: 100%;
    left: -800px;
    z-index: -100;
    transition: all .35s;
}

#icon1 {
    display: none;
}
#icon1:checked + label {
    z-index: 3;
    width: 80px;
    height: 22px;
    position: relative;
    cursor: pointer;
    display: block;
}
#icon1:checked + label + div {
    left: 0;
}

#icon2 {
    display: none;
}
#icon2:checked + label {
    z-index: 3;
    width: 80px;
    height: 22px;
    position: relative;
    cursor: pointer;
    display: block;
}
#icon2:checked + label + div {
    left: 0;
}

#icon3 {
    display: none;
}
#icon3:checked + label {
    z-index: 3;
    width: 80px;
    height: 22px;
    position: relative;
    cursor: pointer;
    display: block;
}
#icon3:checked + label + div {
    left: 0;
}

#icon4 {
    display: none;
}
#icon4:checked + label {
    z-index: 3;
    width: 80px;
    height: 22px;
    position: relative;
    cursor: pointer;
    display: block;
}
#icon4:checked + label + div {
    left: 0;
}

#icon5 {
    display: none;
}
#icon5:checked + label {
    z-index: 3;
    width: 80px;
    height: 22px;
    position: relative;
    cursor: pointer;
    display: block;
}
#icon5:checked + label + div {
    left: 0;
}

#icon6 {
    display: none;
}
#icon6:checked + label {
    z-index: 3;
    width: 80px;
    height: 22px;
    position: relative;
    cursor: pointer;
    display: block;
}
#icon6:checked + label + div {
    left: 0;
}

#icon7 {
    display: none;
}
#icon7:checked + label {
    z-index: 3;
    width: 80px;
    height: 22px;
    position: relative;
    cursor: pointer;
    display: block;
}
#icon7:checked + label + div {
    left: 0;
}

#icon8 {
    display: none;
}
#icon8:checked + label {
    z-index: 7;
    width: 80px;
    height: 22px;
    position: relative;
    cursor: pointer;
    display: block;
}
#icon8:checked + label + div {
    left: 0;
}

label > div {
    font-family: "maplebold";
    font-size: 20px;
    color: white;
    text-align: center;    
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    width:80px;
    background: black;
    z-index: 3;
}